* {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #dee2ff;
  background-size: cover;
  padding-bottom: 0;
}

.dark-mode {
    background-color: #404650;
    color: white;
}

.div-max-height{
  height: 100%;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.portfolio-item {
  max-width: 100%;
}


.foto img {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  border: 1px solid #dee2ff;
}

.foto div {
  background: white;
  display: inline-block;
  margin: 0 auto 5%;
  padding: 10px 10px 5px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  transition: all .2s linear;
  z-index: 0;
  position: relative;
}

.foto div:hover {
  transform: scale(1.02);
}

.project-date {
  padding: 8px 15px 1px;
  position: relative;
  z-index: -500;
  border-top: 5px solid #8e9aaf;
  border-radius: 0 0 5px 5px;
  background-color: #8e9aaf;
  color: white;
}

.zoom {
  box-shadow: 0 4px 6px rgb(0 0 0 / 50%);
}

.list-inline-item {
  display: inline-block;
}

.skills-tile {
  background-color: rgba(248,245,244,.05);
  padding: 10px 10px 5px;
  width: 100px;
  margin: 5px 0;
  border-radius: 8px;
}

.fa-brands {
  font-size: 220%;
}

.fa-brands + p {
  font-size: 70%;
}

#laptop {
    font-size: 150px;
    color: #8e9aaf;
}

#github-logo {
    font-size: 50px;
    color: #8e9aaf;
}

#portfolio, #experience {
  background-color: #dee2ff;
}

#skills {
  background-color: black;
}

#end {
  background-color: black;
  color: white;
}

/* Wave logo */
#github-logo:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,100% {
    transform:rotate(0)
  }20%,60% {
    transform:rotate(-25deg)
  }40%,80%{
    transform:rotate(10deg)
  }
}

/* Toggle Button */
.switch-body {
  transition: background-color .1s;
}

label, .toggle {
  height: 1.8rem;
  border-radius: 100px;
}
label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  margin: 1rem 0 4rem 0; 
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 2.5%;
  position: absolute;
  user-select: none;
}
.dark {
  opacity: .5;
}

.app {
  max-width: 100px;
}

.avatar img {
  display: block;
  max-width: 200px;
}

/* -------- Switch Styles ------------*/
[type="checkbox"] {
  display: none;
}
/* Toggle */
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #34323D;
}
[type="checkbox"]:checked + .app .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .app .light{
  opacity: .5;
}
/* App */
[type="checkbox"]:checked + .app .switch-body{
  color: white;
}
/* Toggle Button */



/* Vertical timeline */
* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Fix the circle for containers on the left side */
.left::after {
  right: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 28px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    max-width: 700px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}